<%- contentFor('meta') %>
<title>My Burgers Index</title>

<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<!-- <script src="/js/my-burgers/input-control.js" defer></script> -->
<!-- <script src="/js/index-control.js" defer></script> -->

<%- contentFor('body') %>
<div id="burgers-index" class="container my-3 text-center">
  <h1 class="mb-3 mt-5">My Burgers</h1>

<!-- <- include('_partials/filter') %> --  <!-- <button id="new-btn" class="btn btn-success btn-sm mb-3" href="/my/burgers/new">CREATE NEW BURGER</button> -->
  <a id="new-btn" class="btn btn-success btn-sm mb-3" href="/my/burgers/new">CREATE NEW BURGER</a>

  <h2>My Burger Creations</h2>

  <% if (burgers.length > 0) { %>
    <div id="burgers-list" class="row align-items-center g-3 text-center">
      <% burgers.forEach(function(burgers){ %>

        <div class="col-md-4">
          <div class="card">
            <img class="burger-preview-img card-img-top mx-auto edit-btn" src="../assets/burger-placeholder.png" alt="BurgerPreview">
            <div class="card-body">
              <h5 class="card-title text-truncate"><a href="/my/burgers/<%= burgers.id %>" class="edit-btn font-weight-bold"><%= burgers.burgerName %></a></h5>
              <p class="burger-card-description card-text text-truncate"><%= burgers.description %></p>
            </div>
          </div>
        </div>


        <% }) %>
    </ul>

    <!-- <- include('_partials/pagination') %> -->
  <% } else { %>
    <div>No Burgers</div>
  <% } %>
</div>

<!-- <- include('../../_partials/modal') %> -->
